<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Детали за молбата</title>
</head>
<body>
<div layout:fragment="content" class="container py-4">
    <h1 class="fw-light fs-1 pb-4 pt-2">Молба за задоцнето запишување на предмет</h1>

    <div th:if="${param.error}" class="alert alert-danger" th:text="${param.error}"></div>

    <p><b>ID:</b> <span th:text="${request.id}"></span></p>
    <p><b>Датум на поднесување на молбата:</b> <span th:text="${request.dateCreated}"></span></p>
    <p><b>Предмет:</b> <span th:text="${request.joinedSubject?.name}"></span></p>
    <p><b>Професор:</b> <span th:text="${request.professor?.name}"></span></p>
    <p><b>Опис:</b> <span th:text="${!request.description.isBlank()}?${request.description}:'Нема опис'"></span></p>
    <p><b>Одобрено:</b> <span th:text="${request.isApproved!=null and request.isApproved}?'Да':'Не'"></span></p>
    <p th:if="${request.isApproved!=null and request.isApproved}"><b>Спроведено:</b> <span th:text="${request.isProcessed!=null and request.isProcessed}?'Да':'Не'"></span></p>
    <p th:if="${request.isApproved!=null and  !request.isApproved}"><b>Причина за одбивање на молбата: </b> <span th:text="${request.getRejectionReason()}"></span></p>


    <a th:href="@{/requests}" class="btn btn-secondary">Назад</a>
</div>
</body>
</html>